body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}   

section {
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 5px;
}   

h1 {
    exercicio de conflito de feature com cssfeature;}